@{
    /**/

    ViewBag.Title = "List Of Salons";
}

<br />
<h2 class="text-center main">Furniture salons</h2>
<br />

<div class="row">
    <div class="table-responsive">
        <table id="Table" width="100%">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Owner</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Website</th>
                    <th>PIB</th>
                    <th>Account  Number</th>
                </tr>
            </thead>
            <tfoot style="display:table-header-group">
                <tr>
                    <th></th>
                    <th class="searchable">Name</th>
                    <th class="searchable">Owner</th>
                    <th class="searchable">Address</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class="searchable">PIB</th>
                    <th class="searchable">Account Number</th>
                </tr>
            </tfoot>
            <tbody class="table table-bordered"></tbody>
        </table>
    </div>
    </div>
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    @section scripts{
        <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>

        <script>
            var Popup, dataTable;
            $(document).ready(function () {
                dataTable = $("#Table").DataTable({
                    "ajax": {
                        "url": "/FurnitureSalons/GetData/",
                        "type": "GET",
                        "datatype": "json",
                        "dataSrc": ""
                    },
                    "columns": [
                        { 'data': 'id', defaultContent: '' },
                        { "data": "Name" },
                        { "data": "Owner" },
                        { "data": "Adress" },
                        { "data": "TelephoneNumber" },
                        { "data": "Email" },
                        { "data": "WebPage" },
                        { "data": "PIB" },
                        { "data": "AccountNumber" }
                    ],
                    "columnDefs": [
                        {
                            "searchable": false,
                            "orderable": false,
                            "targets": 0

                        },
                    ],
                    "language": {
                        "emptyTable": "No data found"
                    },
                    "responsive": true,
                    "dom": 'lrtip'
                });
                dataTable.on('order.dt search.dt', function () {
                    dataTable.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                        cell.innerHTML = i + 1;
                    });
                }).draw();

                $('.searchable').each(function () {
                    var title = $('#Table thead th').eq($(this).index()).text();
                    $(this).html('<input class="form-control " type="text" placeholder="Search ' + title + ' " ' + ' style="width: 130px;"/>')
                });

                dataTable.columns().every(function () {
                    var datatableColumn = this;

                    $(this.footer()).find('input').on('keyup change', function () {
                        datatableColumn.search(this.value).draw();
                    });
                })
            });
        </script>
    }
