
@{
    /**/

    ViewBag.Title = "List Of Salons";
}

<h2>Furniture salons</h2>

<div class="modal fade" id="modalAdd" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mTitle">Furniture Salons</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<a class="btn btn-success" style="margin-bottom:10px;color:white" data-toggle="modal"
   data-target="#modalAdd"
   onclick="PopupForm('@Url.Action("Add","FurnitureSalons")')"><i class="fa fa-plus"></i> Add New</a>

<div style="width:1250px">
    <table id="Table" class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Owner</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Website</th>
                <th>PIB</th>
                <th>Account  Number</th>
                <th></th>
            </tr>
        </thead>
        <tfoot style="display:table-header-group">
            <tr>
                <th class="searchable">Name</th>
                <th class="searchable">Owner</th>
                <th class="searchable">Address</th>
                <th></th>
                <th></th>
                <th></th>
                <th class="searchable">PIB</th>
                <th class="searchable">Account Number</th>
                <th></th>
            </tr>
        </tfoot>
        <tbody class="table table-bordered"></tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
@section scripts{
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>

    <script>
        $(document).ready(function () {
            async: true
            dataTable = $("#Table").DataTable({
                "ajax": {
                    "url": "/FurnitureSalons/GetData/",
                    "type": "GET",
                    "datatype": "json",
                    "dataSrc": ""
                },
                "columns": [
                    { "data": "Name" },
                    { "data": "Owner" },
                    { "data": "Adress" },
                    { "data": "TelephoneNumber" },
                    { "data": "Email" },
                    { "data": "WebPage" },
                    { "data": "PIB" },
                    { "data": "AccountNumber" },
                    {
                        "data": "FurnitureSalonId", "width": "42%", sortable:false, render: function(data) {
                            return "<a class='btn btn-outline-info btn-block btn-sm'" +
                                    "data-toggle='modal' data-target='#modalAdd'onclick=PopupForm('@Url.Action("Update","FurnitureSalons")/" +
                                data + "')><i class='fa fa-pencil'></i>Update</a><a class='btn btn-outline-success btn-block btn-sm' data-toggle='modal' data-target='#modalAdd'" +
                                    "onclick=PopupForm('@Url.Action("Details","FurnitureSalons")/" +
                                data + "')><i class='fa fa-list'></i> Details</a ><a class='btn btn-outline-danger btn-block btn-sm'" +
                                    "onclick=Delete(" + data + ")><i class='fa fa-trash'></i> Delete</a >";
                        }

                    }
                ],
                "language": {
                    "emptyTable": "No data found"
                },
                "responsive": true,
                "dom": 'lrtip'
            });

            $('.searchable').each(function () {
                var title = $('#Table thead th').eq($(this).index()).text();
                $(this).html('<input class="form-control " type="text" placeholder="Search ' + title + ' " ' + ' style="width: 130px;"/>')
            });

            dataTable.columns().every(function () {
                var datatableColumn = this;

                $(this.footer()).find('input').on('keyup change', function () {
                    datatableColumn.search(this.value).draw();
                });
            })
        });

        function PopupForm(url) {
            var formDiv = $('.modal-body');
            $.get(url)
                .done(function (response) {
                    var modal = $(this);
                    formDiv.html(response);
                });
        }

        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                         if (data.success) {
                            $("#modalAdd").modal('hide');
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })

                        }
                    }
                });
            }
            return false;
        }

        function Delete (id){
            if (confirm("Are you sure you want to delete this Shop?")) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete", "FurnitureSalons")/' + id,
                    success: function (data) {
                        if (data.success) {
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                    }
                });
            }
        }
    </script>
}
