
@{
    ViewBag.Title = "Out Of Stock";
}
<br />
<br />
<h4>
    <strong>
        <span id="stil">
            @Html.ValidationMessage(string.Empty)
           Please go back to @Html.ActionLink("Generate Report", "Report", "Bills")  <br /><br /> Thank you!
        </span>
    </strong>
</h4>
<img src="https://lh5.googleusercontent.com/proxy/9jPcVr4IXsglD0Y2H1eVHhKSMkii0hoZ4kebtJBVpVZDHcU_fa46PzHX1rAvCd1224IiNekAlAbbvs5wikhC14n1WyjC" />
<h4>
</h4>
