@using SmartInItProjekat.Models
@model SmartInItProjekat.ViewModels.ShoppingCartViewModel
@{
    Layout = null;
}

<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title" id="exampleModalLabel">
                    Your Shopping Cart
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-image">
                    <thead>
                        <tr>
                            <th scope="col"><span style="font-size:50px; color:#28AE7B">Quantity</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ShoppingCart.ViewItems)
                        {
                            <tr>
                                <td scope="col">
                                    <input type="number" style='width:3em' id="qua" form="form0" min="1" max=@item.Furniture.Amount name="quantity" size="15" required value="1" oninput="validity.valid||(value='');" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer border-top-0 d-flex justify-content-between">
                @using (Ajax.BeginForm("Purchase", "ShoppingCart",
                            new AjaxOptions
                            {
                                InsertionMode = InsertionMode.Replace,
                                HttpMethod = "POST",

                            }))
                {
                    
                }
                <div class="right-btn">
                    <input type="submit" style="float:right" form="form0" value="Change" name="submit" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
    <link href="~/Content/PopUp.css" rel="stylesheet" />
</div>
<script>
        $(document).ready(function () {
            $('#cartModal').modal('show');

        });

</script>

<style>
input {
    line-height: 5em; 
    font-size:30px;
}
</style>


