
@{
    ViewBag.Title = "Out Of Stock";
}
<br />
<br />
    <h4>
        <strong>
            <span id="stil">
                @Html.ValidationMessage(string.Empty)
                @Html.ActionLink("Shopping Cart", "Index", "ShoppingCart") and finish your purchase.  <br /><br /> Thank you!


            </span>
        </strong>
    </h4>
<img  src="https://st.depositphotos.com/1186248/2240/i/950/depositphotos_22402187-stock-photo-out-of-stock-rubber-stamp.jpg"/>
<h4>
  
   
</h4>

<style>
    #stil { color: darkred;  text-align:center;}
    #stil a{
        color:blue;
    }
</style>

